body {
    background: black;
}

* {
    color: white;
}

p {
    color: yellow;
    text-decoration: underline;
}


li {
    padding: 20px;
    color: green;
    font-size: 120%;
}

h2 {
    font-size: 150%;
    color: red;
}